@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    font-family : "Comic Neue"
}
form{
    margin-top: 20px;
    background-color: #ffffff;
    padding: 40px 60px;
    border-radius: 10px;
    min-width: 300px; 
}
form h1{
    color: #279fbd;
    text-align: center;
}
form .social-media{
    margin-top: -10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
form .social-media p{
    padding: 5px;
    margin-left: 10px;
    border: 1px solid #279fbd;
    border-radius: 100%;
    width: 20px;
    text-align: center;
    cursor: pointer;
}
form p.choose-email{
    text-align: center;
}
form .inputs{
    display: flex;
    flex-direction: column;
}
form .inputs input[type="text"], input[type="email"], input[type="password"]{
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #279fbd;
    background-color: #f2f2f2;
    margin-bottom: 15px;
    outline: none;
}
form .input[type="text"]{
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #279fbd;
    background-color: #f2f2f2;
    margin-bottom: 15px;
    outline: none;
}
form p.inscription{
    margin-bottom: 20px;
    text-align: center;
}
form p.inscription span{
    color: #279fbd;
}
form button{
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    background-color:  #279fbd;
    outline: none;
    cursor: pointer;
}